
<p><%= comment.body %></p>
<div>
    <%= link_to "Edit", edit_post_comment_path(comment.post, comment), :class => 'btn-smstroke' %>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, :class => 'btn-smstroke' %>
</div>
<hr />
